RewriteEngine on
ErrorDocument 403 /views/erreurs/403.php
ErrorDocument 404 /views/erreurs/404.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?p=$1 [L,QSA]